{% extends 'colas/base_form.html' %}
{% load crispy_forms_tags %}
{% block form %}
<h1 class="text-center">Colas, ej: 60</h1>
<hr>
<br>
<div class="row">
    <div class="col-3">
        {{ form.desde|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.hasta|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.ultimas_filas|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.tiempo|as_crispy_field }}
    </div>
</div>
<div class="row">
    <div class="col-3">
        {{ form.capacidad_A|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.capacidad_B|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.capacidad_C|as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.capacidad_D|as_crispy_field }}
    </div>

</div>
<div class="text-right">
    <button class="btn btn-lg btn-primary">Calcular</button>
</div>
<br>
{% if tabla %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Estadisticas</th>
            <th scope="col">Sala A</th>
            <th scope="col">Sala B</th>
            <th scope="col">Sala C</th>
            <th scope="col">Sala D</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">Cantidad de visitantes</th>
          <td>{{ visitantesA }}</td>
            <td>{{ visitantesB }}</td>
            <td>{{ visitantesC }}</td>
            <td>{{ visitantesD }}</td>
        </tr>
        <tr>
            <th scope="row">Porcentaje de lotes en cola</th>
            <td>{{ pctjeA }}%</td>
            <td>{{ pctjeB }}%</td>
            <td>{{ pctjeC }}%</td>
            <td>{{ pctjeD }}%</td>
        </tr>
        <tr>
          <th scope="row">Tiempo de espera medio</th>
            <td>{{ tiempoA }} min.</td>
            <td>{{ tiempoB }} min.</td>
            <td>{{ tiempoC }} min.</td>
            <td>{{ tiempoD }} min.</td>
        </tr>
  </tbody>
</table>
<hr>
{% include 'colas/table.html' with tabla=tabla lotes=lotes %}
{% endif %}

{% endblock form %}