<!--Tabla de los numeros generados-->
<!--var: numbers, max-->

{% load crispy_forms_tags %}

<style>
    .tableFixHead          { overflow-y: 20px; height: 800px; }
    .tableFixHead thead th { position: sticky; top: 0px; }

    .tableFixHead,
    .tableFixHead td {
    box-shadow: inset 1px -1px #D3D3D3;
    }
    .tableFixHead th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
    }

</style>

<table class="table table-sm text-center table-responsive tableFixHead">
    <thead class="thead-dark m-auto">
    <tr>
        <th colspan="3">Evento</th>
        <th colspan="1">LLegada</th>
        <th colspan="2">Resultados</th>
        <th colspan="8">Salas</th>
        <th colspan="{{num_lotes|length}}0">Lotes</th>
    </tr>
    <tr>
        <th rowspan="2" colspan="1" scope="row">numero</th>
        <th rowspan="2" colspan="1" scope="col">tipo</th>
        <th rowspan="2" colspan="1" scope="col">reloj</th>
        <th rowspan="2" colspan="1" scope="col">proxima llegada</th>
        <th rowspan="2" colspan="1" scope="col">cantidad de visitas</th>
        <th rowspan="2" colspan="1" scope="col">maxima cola</th>
        <th colspan="2" scope="col">Sala A</th>
        <th colspan="2" scope="col">Sala B</th>
        <th colspan="2" scope="col">Sala C</th>
        <th colspan="2" scope="col">Sala D</th>

        <!-- Lotes -->
        {% for num in num_lotes %}
        <th colspan="4" scope="col">{{num}}</th>
        {% endfor %}
    </tr>
    <tr>
        <th colspan="1" scope="col">A Capacidad</th>
        <th colspan="1" scope="col">A Cola</th>
        <th colspan="1" scope="col">B Capacidad</th>
        <th colspan="1" scope="col">B Cola</th>
        <th colspan="1" scope="col">C Capacidad</th>
        <th colspan="1" scope="col">C Cola</th>
        <th colspan="1" scope="col">D Capacidad</th>
        <th colspan="1" scope="col">D Cola</th>
        <!-- Lotes -->
        {% for num in num_lotes %}
        <th scope="col">{{num}} estado</th>
        <th scope="col">{{num}} visitantes</th>
        <th scope="col">{{num}} recorrido</th>
        <th scope="col">{{num}} <p class="m-auto">fin</p></th>

        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for linea in tabla %}
    <tr>
        <td>{{linea.numero}}</td>
        <td>{{linea.evento}}</td>
        <td>{{linea.reloj}}</td>
        <td>{{linea.proxima_llegada}}</td>
        <td>{{linea.cantidad_visitas}}</td>
        <td>{{linea.maximo_cola}}</td>

        <!-- Salas -->
        <td>{{linea.salas.sala_a.capacidad}}</td>
        <td>{{linea.salas.sala_a.cola}}</td>
        <td>{{linea.salas.sala_b.capacidad}}</td>
        <td>{{linea.salas.sala_b.cola}}</td>
        <td>{{linea.salas.sala_c.capacidad}}</td>
        <td>{{linea.salas.sala_c.cola}}</td>
        <td>{{linea.salas.sala_d.capacidad}}</td>
        <td>{{linea.salas.sala_d.cola}}</td>

        <!-- Lotes -->
        {% for lote in linea.lotes_arreglados %}
        <td>{{lote.estado}}</td>
        <td>{{lote.visitantes}}</td>
        <td>{{lote.recorrido}}</td>
        <td>{{lote.fin_recorrido}}</td>

        {% endfor %}
    </tr>
    {% endfor %}

    </tbody>
</table>
