<!--Tabla de los numeros generados-->
<!--var: numbers, max-->

{% load crispy_forms_tags %}

<style>
    .tableFixHead          { overflow-y: 20px; height: 800px; }
    .tableFixHead thead th { position: sticky; top: 0px; }

    .tableFixHead,
    .tableFixHead td {
    box-shadow: inset 1px -1px #D3D3D3;
    }
    .tableFixHead th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
    }

</style>

<table class="table table-sm text-center table-responsive tableFixHead">
    <thead class="thead-dark m-auto">
    <tr>
        <th colspan="3">Evento</th>
        <th colspan="1">LLegada</th>
        <th colspan="2">Resultados</th>
        <th colspan="5">Bloqueo servidor C</th>
        <th colspan="28">Salas</th>
        <th colspan="{{num_lotes|length}}0">Lotes</th>
    </tr>
    <tr>
        <th rowspan="2" colspan="1" scope="row">Numero</th>
        <th rowspan="2" colspan="1" scope="col">Tipo</th>
        <th rowspan="2" colspan="1" scope="col">Reloj</th>
        <th rowspan="2" colspan="1" scope="col">Proxima llegada</th>
        <th rowspan="2" colspan="1" scope="col">Cantidad de visitas</th>
        <th rowspan="2" colspan="1" scope="col">Maxima cola</th>
        <!-- Bloqueo del servidor -->
        <th rowspan="2" colspan="1" scope="col">Porcentaje Intestabilidad<br>(50,70,90)</th>
        <th rowspan="2" colspan="1" scope="col">Intestable <br> (192.1554, 220.2347, 250)</th>
        <th rowspan="2" colspan="1" scope="col">Estado Servidor</th>
        <th rowspan="2" colspan="1" scope="col">Inicio Purga</th>
        <th rowspan="2" colspan="1" scope="col">Fin Purga</th>


        <th colspan="7" scope="col">Sala A</th>
        <th colspan="7" scope="col">Sala B</th>
        <th colspan="7" scope="col">Sala C</th>
        <th colspan="7" scope="col">Sala D</th>

        <!-- Lotes -->
        {% for num in num_lotes %}
        <th colspan="5" scope="col">{{num}}</th>
        {% endfor %}
    </tr>
    <tr>
        <th colspan="1" scope="col">A Capacidad</th>
        <th colspan="1" scope="col">A Cola</th>
        <th colspan="1" scope="col">A Visitantes acum</th>
        <th colspan="1" scope="col">A Lotes acum</th>
        <th colspan="1" scope="col">A Lotes en cola acum</th>
        <th colspan="1" scope="col">A Tiempo de espera</th>
        <th colspan="1" scope="col">A Ingreso lotes a sala</th>

        <th colspan="1" scope="col">B Capacidad</th>
        <th colspan="1" scope="col">B Cola</th>
        <th colspan="1" scope="col">B Visitantes acum</th>
        <th colspan="1" scope="col">B Lotes acum</th>
        <th colspan="1" scope="col">B Lotes en cola acum</th>
        <th colspan="1" scope="col">B Tiempo de espera</th>
        <th colspan="1" scope="col">B Ingreso lotes a sala</th>

        <th colspan="1" scope="col">C Capacidad</th>
        <th colspan="1" scope="col">C Cola</th>
        <th colspan="1" scope="col">C Visitantes acum</th>
        <th colspan="1" scope="col">C Lotes acum</th>
        <th colspan="1" scope="col">C Lotes en cola acum</th>
        <th colspan="1" scope="col">C Tiempo de espera</th>
        <th colspan="1" scope="col">C Ingreso lotes a sala</th>

        <th colspan="1" scope="col">D Capacidad</th>
        <th colspan="1" scope="col">D Cola</th>
        <th colspan="1" scope="col">D Visitantes acum</th>
        <th colspan="1" scope="col">D Lotes acum</th>
        <th colspan="1" scope="col">D Lotes en cola acum</th>
        <th colspan="1" scope="col">D Tiempo de espera</th>
        <th colspan="1" scope="col">D Ingreso lotes a sala</th>

        <!-- Lotes -->
        {% for num in num_lotes %}
        <th scope="col">{{num}} Estado</th>
        <th scope="col">{{num}} Visitantes</th>
        <th scope="col">{{num}} Recorrido</th>
        <th scope="col">{{num}} <p class="m-auto">Fin</p></th>
        <th scope="col">{{num}} <p class="m-auto">Tiempo restante</p></th>

        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for linea in tabla %}
    <tr>
        <td>{{linea.numero}}</td>
        <td>{{linea.evento}}</td>
        <td>{{linea.reloj}}</td>
        <td>{{linea.proxima_llegada}}</td>
        <td>{{linea.cantidad_visitas}}</td>
        <td>{{linea.maximo_cola}}</td>

        <td>{{linea.porcentaje_inestable}}</td>
        <td>{{linea.inestable}}</td>
        <td>{{linea.estado_servidor}}</td>
        <td>{{linea.inicio_purga}}</td>
        <td>{{linea.fin_purga}}</td>

        <!-- Salas -->
        <td>{{linea.salas.sala_a.capacidad}}</td>
        <td>{{linea.salas.sala_a.cola}}</td>
        <td>{{linea.salas.sala_a.cantidad_visitantes}}</td>
        <td>{{linea.salas.sala_a.lotes_en_sala}}</td>
        <td>{{linea.salas.sala_a.lotes_en_cola}}</td>
        <td>{{linea.salas.sala_a.tiempo_espera}}</td>
        <td>{{linea.salas.sala_a.cola_a_sala}}</td>

        <td>{{linea.salas.sala_b.capacidad}}</td>
        <td>{{linea.salas.sala_b.cola}}</td>
        <td>{{linea.salas.sala_b.cantidad_visitantes}}</td>
        <td>{{linea.salas.sala_b.lotes_en_sala}}</td>
        <td>{{linea.salas.sala_b.lotes_en_cola}}</td>
        <td>{{linea.salas.sala_b.tiempo_espera}}</td>
        <td>{{linea.salas.sala_b.cola_a_sala}}</td>

        <td>{{linea.salas.sala_c.capacidad}}</td>
        <td>{{linea.salas.sala_c.cola}}</td>
        <td>{{linea.salas.sala_c.cantidad_visitantes}}</td>
        <td>{{linea.salas.sala_c.lotes_en_sala}}</td>
        <td>{{linea.salas.sala_c.lotes_en_cola}}</td>
        <td>{{linea.salas.sala_c.tiempo_espera}}</td>
        <td>{{linea.salas.sala_c.cola_a_sala}}</td>

        <td>{{linea.salas.sala_d.capacidad}}</td>
        <td>{{linea.salas.sala_d.cola}}</td>
        <td>{{linea.salas.sala_d.cantidad_visitantes}}</td>
        <td>{{linea.salas.sala_d.lotes_en_sala}}</td>
        <td>{{linea.salas.sala_d.lotes_en_cola}}</td>
        <td>{{linea.salas.sala_d.tiempo_espera}}</td>
        <td>{{linea.salas.sala_d.cola_a_sala}}</td>

        <!-- Lotes -->
        {% for lote in linea.lotes_arreglados %}
        <td>{{lote.estado}}</td>
        <td>{{lote.visitantes}}</td>
        <td>{{lote.recorrido}}</td>
        <td>{{lote.fin_recorrido}}</td>
        <td>{{lote.tiempo_restante}}</td>

        {% endfor %}
    </tr>
    {% endfor %}

    </tbody>
</table>
